li{
    list-style-type: none;
}
body{
    background-color: #F5F5F5;  
}

/* ------------------HEADER----------------- */
#header{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
/* ------------------HEADER LEFT----------------- */
#header-left{
    
}

#header-left img{

    width: 250px;
    height: 180px;
    margin-left: 25px;
    border-radius: 20px;

}

/* -------------HEADER RIGHT ------------ */
#header-right{ /* */
    display: flex; /* conteiner flexivel*/
    flex-direction: column;
    align-items: flex-end; /* */
    padding-right: 5px;
}

#header-right nav ul li{
    
    border-right: 2px black solid;
    font-size: 14pt;
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
    /* list-style: none; */
}

#header-right nav ul li a{
    text-decoration: none;
    color: black;

}

#header-right #bt-schools>ul>li{
    display: inline;
    /* list-style: none; */

}
#header-right #bt-schools>ul>li>input{
    width: 180px;
    height: 50px;
    background-color: rgb(61, 56, 56);
    color: white;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

/* -------------CONTAINER MAIN---------------- */

#container-main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
}
/* -------------COMPONENT LEFT--------------------- */

#component-left{
    display: flex;
    flex-direction: column;
}
/* -------------LEFT 1--------------------- */
#component-left-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
}

#component-left-1 span{
    display: grid;/* não consegui alinhar sem usar o align-items grid*/
    align-items: center;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    
}

#component-left-1 img{
    width: 100px;
    border-radius: 20px;
   
}

/* -----------LEFT 2------------------- */

#component-left-2{
    flex-grow: 1;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: none;

}
#component-left-2 ul li{
    margin-top:20px;
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    
}
#component-left-2 ul li a{
    text-decoration: none;
    border: 3px solid black;
    padding:10px;
    border-radius: 6px;
    width: 200px;
    text-align: center;
    background-color: rgba(0, 128, 49, 0.37);
    color:white;
}

/* ------------LEFT 3----------------- */

#component-left-3{
    flex-grow: 1;
    background-color:#98FB98;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: center;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    border-radius: 20px;
}
#component-left-3 li{

    font-size: 16px;
    font-family: 'Karla', sans-serif;
    
    text-align: left; 
    height: 30px;
    width: 100%;
    margin-top: 10px;

}

/* ------------COMPONENT RIGHT----------------- */
#component-right{
    display: flex;
    flex-direction: column;
}
/* ------------RIGHT 1----------------- */
#component-right-1{
    flex-grow: 1;
    text-align: center;
    
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 20px;
    /* border-color: black;
    border-style: solid; */

}

#component-right-1 img{

    /* width:120px;
    border-radius: 20px;
    position: absolute; */
    
    width: 400px;
    border-radius: 20px;
    

}

#component-right-1 #page-fake{
    font-size: 30px;
    
    position: relative;
    bottom: 100;


}


.component-right-box{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gray;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 20px;
    
}
.component-right-box img{
    width:120px;
    border-radius: 20px;
}

.component-right-box span{
    display: grid;
    align-items:center;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

/* ------------ COMPONENT CENTER----------------- */

#component-center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
/* ------------ CENTER 1-------------------------- */
#component-center-1{
    /* flex-grow: 1; */
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: center;
    
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

#component-center-1 span{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    /* position: absolute;
    top: 233px;
    right: 369px; */

}

#component-center-1 .picture img{
    width: 100px;
}

#component-center-1 .picture-description p{
    font-size: 20px;
    font-family: 'Karla', sans-serif;
    text-align: center;
    
    
}
/* ------------ CENTER 2-------------------------- */
#component-center-2{
    
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    

    
}
#component-center-2 article{
    text-align:center;
    font-family: 'Karla', sans-serif;
    
    
}
/* ------------ CENTER 3-------------------------- */
#component-center-3{
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

/* FLOAT LEFT OU JUSTIFY BETWEEN*/
/*-----------AGENDA E EVENTOS-----------------*/
#cabecalho{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
#text{
    text-align: center;    
}
#evento{
    text-align: center;
    
}
.agenda{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.agenda li{
    margin-top: 10px;
}

footer {
    background-color: gray;
    color: white;
}
  
footer #footer {
    
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
  
/* footer #footer ul {
    float: left;
    flex: 1;
    
} */

.footer-left ul li a{
    text-decoration:none    
}
.footer-left ul li a:link{
    color:white;
    
}
.footer-left ul li a:visited{
   color: black;
    
}

  footer #footer li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    list-style-type: none;
    border-right: 2px black solid; /*barra vertical*/
  
}
  
  